{{ define "profileMenu" }}
<div class="card mt-5 w-100">
    <div class="card-header d-flex align-items-center" id="profileDisplayName">
        {{ .DisplayName }}
    </div>
    <div class="m-3">
        <!-- <div class="d-flex align-items-center mb-3">
            <img src="/static/money.png" class="me-3" height="64">
            {{ .GetPaymentAll }} рублей
        </div> -->
        <div class="d-flex">
            <a class="picraft-btn me-3 d-flex align-items-center" href="/avatar" onclick="Threehead.move.avatar(); return false;">
                <img src="/static/icon.png" class="me-3" height="64">
                Генератор
            </a>
            <a class="picraft-btn d-flex align-items-center" href="/settings" onclick="Threehead.move.settings(); return false;">
                <img src="/static/settings.png" class="me-3" height="64">
                Настройки
            </a>
        </div>
    </div>
</div>
{{ end }}